.form {
    width: 40%;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    box-shadow: 0 1px 5px 1px #000000;
}

.recipe {
    display: grid;
    grid-template-columns: 100%
}

fieldset {
    border: none;
    width: 100%;
}

.ingredientUnit {
    display: grid;
    grid-template-columns: 75% 15%;
    grid-gap: 5%;
}

.recipe fieldset {
    justify-self: center;
}

textarea, input {
    resize: none;
    line-height: 2em;
    width: 100%;
}

div fieldset {
    padding: 0%;
}
