.form {
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  background-color: #796465;
  margin: auto;
  margin-top: 3%;
  box-shadow: 0 1px 5px 1px #000000;
}

.recipe {
  display: grid;
  grid-template-columns: 100%;
}

fieldset {
  border: none;
  width: 100%;
}

.ingredientUnit {
  display: grid;
  grid-template-columns: 75% 15%;
  grid-gap: 5%;
}

.recipe fieldset {
  justify-self: center;
}

.form textarea,
.form input {
  resize: none;
  line-height: 2em;
  width: 100%;
  background-color: rgb(250, 250, 250);
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
}

.form input.confirmed {
  width: initial;
}

.form .recipeImage {
  background-color: #796465;
  font-family: "Outfit", sans-serif;
}

div fieldset {
  padding: 0%;
}

.form button {
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
}

#ingredients, #instructions {
    margin-bottom: 10px;
}

.form .submit {
    margin-top: 10px;
}

.delRecipe main form {
    width: 60%;
    margin: auto;
    text-align: center;
}

.delRecipe button {
    margin: 0% 5%;
    padding: .5% 8%;
}

@media (max-width: 1000px) {
  .form {
    width: 95%;
    border-radius: none;
    background-color: initial;
    box-shadow: none;
  }
  .form .recipeImage {
    background-color: initial;
    font-family: "Outfit", sans-serif;
  }
  .form textarea,
  .form input {
    width: 98%;
  }
}

@media only screen and (max-width: 600px) {
}
