html {
  height: 100%;
  display: flex;
}

body {
    flex: 1;
    margin: 0;
    display: grid;
    height: 100%;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    border: none;
    grid-template-rows: 10% 5% auto 5%;
    line-height: 1.4em;
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
    font-size: medium;
    padding: 0%;
    margin: auto;
    background-color: #f6eddf;
    position: relative;
  }

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  width: 60%;
  text-align: center;
  margin: auto;
}